<div class="center-div" id="words-in">
  <form>
    <label>Synonym for "story":</label>
    <input type="text" placeholder="legend" ng-model="data.story"/>

    <label>Noun:</label>
    <input type="text" placeholder="cat" ng-model="data.noun"/>

    <label>Measure of time:</label>
    <input type="text" placeholder="hour" ng-model="data.time"/>

    <label>An honorary title:</label>
    <input type="text" placeholder="sir" ng-model="data.royal"/>

    <label>Place:</label>
    <input type="text" placeholder="Detroit" ng-model="data.place"/>

    <label>U.S. City:</label>
    <input type="text" placeholder="San Francisco" ng-model="data.city"/>

    <label>Phrase, location:</label>
    <input type="text" placeholder="In the library" ng-model="data.phraselocation"/>

    <label>Active verb:</label>
    <input type="text" placeholder="surfing" ng-model="data.verb1"/>

    <label>Active verb:</label>
    <input type="text" placeholder="napping" ng-model="data.verb2"/>

    <label>Active verb:</label>
    <input type="text" placeholder="eating" ng-model="data.verb3"/>

    <label>Active verb, sports-related:</label>
    <input type="text" placeholder="scoring a touchdown" ng-model="data.sports"/>

    <label>Noun, plural:</label>
    <input type="text" placeholder="geese" ng-model="data.nouns"/>

    <label>Noun, family member:</label>
    <input type="text" placeholder="cousin" ng-model="data.fam1"/>

    <label>Noun, family member:</label>
    <input type="text" placeholder="father" ng-model="data.fam2"/>

    <label>Verb, past tense:</label>
    <input type="text" placeholder="danced" ng-model="data.verbpast"/>

    <label>Awesome saying/phrase:</label>
    <input type="text" placeholder="TUBULAR" ng-model="data.cool"/>

    <label>Noun, plural:</label>
    <input type="text" placeholder="cats" ng-model="data.nouns2"/>

    <label>Adjective:</label>
    <input type="text" placeholder="smart" ng-model="data.adjective"/>

    <button type="button" ng-click="getJiggy()">Spit that hot fire.</button>
  </form>
</div>
