<div class="center-div" id="lyrics-out">
  <p>
    Now this is a <span class="stylin">{{madLibs.story || "story"}}</span> all about how
  </p>
  <p>
    My <span class="stylin">{{madLibs.noun || "life"}}</span> got flipped, turned upside-down
  </p>
  <p>
    And I'd like to take a(n) <span class="stylin">{{madLibs.time || "minute"}}</span>, just sit right there
  </p>
  <p>
    I'll tell you how I became the <span class="stylin">{{madLibs.royal || "prince"}}</span> of a town called <span class="stylin">{{madLibs.place || "Bel-Air"}}</span>
  </p>
<!--
  <p>
    In west Philadelphia born and raised<br/>
    On the playground was where I spent most of my days<br/>
    Chillin' out, maxin', relaxin', all cool<br/>
    And shootin' some b-ball outside of school<br/>
    When a couple of guys who were up to no good<br/>
    Started making trouble in my neighborhood<br/>
    I got in one little fight and my mom got scared<br/>
    She said, "You're movin' with your auntie and uncle in Bel-Air."
  </p>

  <p>
    I whistled for a cab and when it came near<br/>
    The license plate said "Fresh" and it had dice in the mirror<br/>
    If anything I could say that this cab was rare<br/>
    But I thought, nah, forget it. "Yo Homes, to Bel-Air."
  </p>

  <p>
    I pulled up to the house about 7 or 8<br/>
    And I yelled to the cabbie, "Yo Homes, smell ya later!"<br/>
    Looked at my kingdom, I was finally there<br/>
    To sit on my throne as the Prince of Bel-Air
  </p> -->
</div>
