<div class="center-div" id="lyrics-out">
  <p>
    Now this is a <span class="stylin">{{madLibs.story || "story"}}</span> all about how
  </p>
  <p>
    My <span class="stylin">{{madLibs.noun || "life"}}</span> got flipped, turned upside-down
  </p>
  <p>
    And I'd like to take a(n) <span class="stylin">{{madLibs.time || "minute"}}</span> and just sit right there
  </p>
  <p>
    I'll tell you how I became the <span class="stylin">{{madLibs.royal || "prince"}}</span> of a town called <span class="stylin">{{madLibs.place || "Bel-Air"}}</span>
  </p>
  <br/>
  <p>
    In west <span class="stylin">{{madLibs.city || "Philadelphia"}}</span> born and raised
  </p>
  <p>
    <span class="stylin">{{madLibs.phraselocation || "On the playground"}}</span> was where I spent most of my days
  </p>
  <p>
    <span class="stylin">{{madLibs.verb1 || "Chillin' out"}}</span>, <span class="stylin">{{madLibs.verb2 || "maxin'"}}</span>, <span class="stylin">{{madLibs.verb3 || "relaxin'"}}</span>, all cool
  </p>
  <p>
    And <span class="stylin">{{madLibs.sports || "shootin' some b-ball"}}</span> outside of the school
  </p>
  <p>
    When a couple of <span class="stylin">{{madLibs.nouns || "guys"}}</span> who were up to no good
  </p>
  <p>
    Started making trouble in my neighborhood
  </p>
  <p>
    I got in one little fight and my mom got scared
  </p>
  <p>
    She said, "You're movin' with your <span class="stylin">{{madLibs.fam1 || "auntie"}}</span> and <span class="stylin">{{madLibs.fam2 || "uncle"}}</span> in <span class="stylin">{{madLibs.place || "Bel-Air"}}</span>."
  </p>
  <br/>
  <p>
    I <span class="stylin">{{madLibs.verbpast || "whistled"}}</span> for a cab and when it came near
  </p>
  <p>
    The license plate said <span class="stylin">{{madLibs.cool || "'FRESH'"}}</span> and it had <span class="stylin">{{madLibs.nouns2 || "dice"}}</span> in the mirror
  </p>
  <p>
    If anything I could say that this cab was <span class="stylin">{{madLibs.adjective || "rare"}}</span>
  </p>
  <p>
    But I thought, nah, forget it. "Yo Homes, to <span class="stylin">{{madLibs.place || "Bel-Air"}}</span>!"
  </p>
  <br/>
  <p>
    I pulled up to the house about 7 or <span class="stylin">{{madLibs.number || "8"}}</span>
  </p>
  <p>
    And I yelled to the cabbie, "<span class="stylin">{{madLibs.catchphrase || "Yo Homes, smell ya later"}}</span>!"
  </p>
  <p>
    Looked at my kingdom, I was finally there
  </p>
  <p>
    To sit on my throne as the Prince of <span class="stylin">{{madLibs.place || "Bel-Air"}}</span>
  </p>
</div>
